Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = ["rish", [1,2,3,4,5], 65.89, (9,8,7,6,5,4)]

In [2]:
a

['rish', [1, 2, 3, 4, 5], 65.89, (9, 8, 7, 6, 5, 4)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Data types of given variables containing data will be:
(i) var1 = string
(ii) var2 = string
(iii) var3 = list
(iv) var4 = integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# (i) / is a division operator
#For example:
6/3

2.0

In [4]:
# (ii) % is remainder operator, also known as modulas operator
#For example:
8%3
#here 2 is the remainder left after dividing the 8 by 3

2

In [5]:
# (iii) // is the floor division operator
#For example:
19//6
#here 3 is the number of 6 mulplies to get closer to 19

3

In [6]:
# (iv) ** is the exponential operator
#For example:
3**4
#3**4 means 3 to the power 4

81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
l = [23, "rish", 34.67, True, 7 + 4j]
for i in l:
    print(i, type(i))

23 <class 'int'>
rish <class 'str'>
34.67 <class 'float'>
True <class 'bool'>
(7+4j) <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [19]:
a = int(input("Enter any number:"))
b = int(input("Enter any number:"))
q = 0

while (a-b)>=0:
    a = a - b
    q = q+1
print(q)

Enter any number:20
Enter any number:4
5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3 ==0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those data types whose individual elements can be changed or manipulated but the individual elements of immutable data types can't be changed or manipulated
Examples of mutable data types are list
Examples of immutable data types are string, integer, float, tuple, sets

In [10]:
#Mutable data types - list
l = [1,2,3,4,5]

In [11]:
l

[1, 2, 3, 4, 5]

In [12]:
l[2]

3

In [13]:
l[2] = 4

In [14]:
l

[1, 2, 4, 4, 5]

In [15]:
#Immutable data types - string
s = "rish"

In [16]:
s

'rish'

In [17]:
s[1]

'i'

In [18]:
s[1] = "h"
#As is immutable that's why it is giving this item assignment error

TypeError: 'str' object does not support item assignment